*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #644bff;
	padding: 0 20px;
}

.container{
	max-width: 450px;
	margin: 15px auto;
}

.container .search{
	background: #fff;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 1px 5px 3px rgba(0,0,0,0.12);  
	position: relative;
	overflow: hidden;
}

.search input{
	height: 55px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	padding: 0 60px 0 20px;
	font-size: 18px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.search .icon{
	width: 55px;
	line-height: 55px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 17px;
	color: black;
	cursor: pointer;
	background: #8888;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.search .autocom-box{
	padding: 0px;
	max-height: 200px;
	overflow-y: auto;
	opacity: 0;
	display: none;
	pointer-events: none;
	border-radius: 3px;
}

.search.aktif .autocom-box{
	padding: 10px 0;
	display: block;
	opacity: 1;
	pointer-events: auto;
}

.search.aktif .autocom-box li{
	display: block;
}

.autocom-box li{
	list-style: none;
	padding: 8px 12px;
	width: 100%;
	border-radius: 3px;
	cursor: pointer;
	display: block;
}

.autocom-box li:hover{
	background: #bab9b9;
}

.icon:hover{
	background: #a1a1a1;
}





